button {
    width: 180px;
    background: #17a086;
    color: #ffffff;
}

.white-div {
    background-color:#C0C0C0;
}

.scenes-h2 {
    margin-bottom:0;
}

.scenes-p-indent {
    text-indent:35px;
}

.scenes-p-idc {
    font-weight:bold;
    font-size: 20px
}

.scenes-div-wps {
    width:70%;
    height:100%;
    left:300px;
    position:absolute;
}

.scenes-select {
    width: 180px;
    height: 30px;
}